
.left{
	background-color: #87CEEB;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

.right{
	background-color: #87CEEB;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.rocket{
	position: absolute;
	left: 50%;
	bottom: 30px;
	width: 183.1px;
	height: 270.7px;
	background: url('../img/muhlifliegtlos1.svg') no-repeat 0 0;
	transition: bottom 10000ms;
	margin-left: -100px;
}

body.body-state1 .rocket{
	transition: none;
}

/*rocket bg image*/

body.body-state2 .rocket{
	background-image: url('../img/muhlifliegtlos1.svg');
}

body.body-state3 .rocket,
body.body-state4 .rocket{
	background-image: url('../img/muhlifliegtlos2.svg');
}

body.body-state5 .rocket{
	background-image: url('../img/bumm.svg');
}


body.body-state3 .rocket,
body.body-state4 .rocket{
	bottom: 2000px;
}

.ground{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 4000px;
	height: 50px;
	background: url('../img/ground.svg') no-repeat;
}

.meow{
	position: absolute;
	bottom: 100px;
	left: 50%;
	margin-left: -233px;
	background: url('../img/meow.png') no-repeat 0 0;
	height: 210px;
	width: 210px;
	display: none;
}

.meow.show {
	display: block !important;
}

.state1,
.state2,
.state3,
.state4,
.state5{
	display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

.state1,
.state2,
.state3,
.state4,
.state5{
color: white;
font-family: 'Lexend Mega', sans-serif;
text-align: center;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

a.button{
text-align: center;
background-color: white;
border-radius: 20px;
padding: 10px;
color: #87CEEB;
text-decoration: none;
}

