html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}  

.toggle {
    width: 60px;
    height: 30px;
    border-radius: 20px;
	position: relative;
    display: block;
    cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border: 0px;
	background-color: rgba(238, 238, 238,0.5);
	z-index: 1;
	outline: none;
}

#ball {
	height: 30px;
    width: 30px;
	margin-top: -1px;
	background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    transition: 0.5s;
	transform: translateX(-8px);
}

#left{
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

#right{
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.rocket{
	position: absolute;
	left: 50%;
	bottom: 30px;
	width: 183.1px;
	height: 270.7px;
	background: url('../img/muhlifliegtlos1.svg') no-repeat 0 0;
	transition: bottom 15000ms;
	margin-left: -100px;
	visibility: visible;
}

body.body-state1 .rocket{
	transition: none;
}

/*rocket bg image*/

body.body-state2 .rocket{
	background-image: url('../img/muhlifliegtlos1.svg');
}

body.body-state3 .rocket,
body.body-state4 .rocket{
	background-image: url('../img/muhlifliegtlos2.svg');
}

body.body-state5 .rocket{
	background-image: url('../img/bumm.svg');
}


body.body-state3 .rocket,
body.body-state4 .rocket{
	bottom: 2000px;
}

.ground{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 4000px;
	height: 40px;
	background: url('../img/ground.svg') no-repeat;
}

.cloud1 {
	width: 119.0458px;
	height: 70.891px;
	position: absolute;
	top: 10%;
	background: url('../img/cloud1.svg') no-repeat 0 0;
	left: -200px;
	animation-name: cloud1;
	animation-duration: 60s;
	transform: scale(1.5);
	animation-iteration-count: 5;
}

@keyframes cloud1 {
	from {left: -200px;}
	to {left:3000px;}
}

.cloud2 {
	width: 143px;
	height: 70.9px;
	position: absolute;
	top: 30%;
	background: url('../img/cloud2.svg') no-repeat 0 0;
	left: -300px;
	animation-name: cloud2;
	animation-duration: 85s;
	transform: scale(2);
	animation-iteration-count: 5;
	animation-delay: 2s;
}

@keyframes cloud2 {
	from {left: -300px;}
	to {left:3000px;}
}

.cloud3 {
	width: 143px;
	height: 70.9px;
	position: absolute;
	top: 30%;
	background: url('../img/cloud3.svg') no-repeat 0 0;
	left: 600px;
	animation-name: cloud3;
	animation-duration: 60s;
	transform: scale(1.4);
}

@keyframes cloud3 {
	from {left: 600px;}
	to {left:3000px;}
}

.meow{
	position: absolute;
	bottom: 100px;
	left: 50%;
	margin-left: -233px;
	background: url('../img/meow.png') no-repeat 0 0;
	height: 210px;
	width: 210px;
	display: none;
}

.meow.show {
	display: block;
}

.state1,
.state2,
.state3,
.state4,
.state5{
	display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

.state1,
.state2,
.state3,
.state4,
.state5{
color: white;
font-family: 'Lexend Mega', sans-serif;
text-align: center;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

a.button{
text-align: center;
background-color: white;
border-radius: 20px;
padding: 10px;
color: #87CEEB;
text-decoration: none;
}


}

